
# CONFIGURAÇÕES DE INFRAESTRUTURA 
# Copie este arquivo, renomeie para apenas ".env" e preencha com seus dados locais.
# Nunca envie o arquivo ".env" real para o repositório do GitHub!

# --- BANCO DE DADOS (MYSQL) ---
# URL de conexão. 
# Adicione "?createDatabaseIfNotExist=true" para o MySQL criar o banco sozinho na primeira rodada
DB_URL=jdbc:mysql://mysql-db:3306/lumen_db
DB_PORT=3307

# Credenciais de acesso
DB_NAME=nome_do_seu_banco_aqui
DB_USER=usuario_aplicacao_spring
DB_PASSWORD=insira_uma_senha_para_o_usuario
DB_ROOT_PASSWORD=insira_uma_senha_para_o_usuario

DB_API_OBRIGATORIA=http://ml-service:8000/api/v1/teste/analise-energetica
DB_API_USUARIO_LOGADO=http://ml-service:8000/api/v1/analise-energetica
API_TOKEN_SECRET=coloque_sua_chave

# --- BACKEND (SPRING BOOT) ---
API_PORT=8080


# --- FRONTEND ---
# FRONT_PORT=3000
