# ========================
# Variáveis de Ambiente e Segurança
# ========================
.env
.env.local
*.pem
*.key

# ========================
# Front-End (Vue.js)
# ========================
frontend/node_modules/
frontend/dist/
frontend/.npm/
npm-debug.log*
yarn-error.log*

# ========================
# Back-End (Java / Spring Boot)
# ========================
backend/target/
backend/bin/
backend/.mvn/
*.class
*.jar
*.war

# ========================
# Microsserviço e Data Science (Python)
# ========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
.ipynb_checkpoints/

# ========================
# Dados (Ignorar datasets grandes, subir apenas amostras se necessário)
# ========================
data-science/*.csv
data-science/*.dat
!data-science/amostra_dados.csv  # O "!" força o git a aceitar esse arquivo específico

# ========================
# Arquivos de IDE e SO
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pastas geradas pelo Docker para persistência de dados do banco
.docker/
mysql_data/

# Arquivos temporários do Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de build do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

*.lst